.status-finished {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EC1562;
  height: 40px;
  width: 130px;
  border-radius: 10px;
  margin-left: 80px;
  margin-top: 10px;
}

.finished-message {
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  color: white;
  margin-left: 5px;
  font-weight: bold;
}

