@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Lobster&family=Quicksand&display=swap');

.session {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  border-radius: 30px;
  box-shadow:  rgba(0, 0, 0, 0.24) 0px 8px 8px;
  width: 95%;
  margin-top: 10px;
  cursor: pointer;
}

.session-left {
  display: flex;
  flex-direction: row;
}

.restaurant-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 10px;
}

.restaurant-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}

.session-details {
  display: flex;
  flex-direction: column;
}

.session-image {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 30px;
}

.session-restaurant-name {
  font-family: 'Inter', sans-serif;
  color: #8E8E8E;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

.restaurant-address {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.session-date {
  font-family: 'Inter', sans-serif;
  color: #8E8E8E;
  font-weight: bold;
  font-size: 15px;
}

.session-right {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  height: 100%;
}

.session-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.session-cancel-button {
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #EF1652;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  margin-left: 5px;
  border: none;
  cursor: pointer;
}

.session-cancel-button:hover {
  color: #EF1652;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px;
}

.session-participants {
  display: flex;
  justify-content: flex-end; 
  margin-top: 10px;
  margin-right: 5px;
}

.session-user {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #EC1562;
  margin-right: 5px;
  border: 2px solid #EC1562;
}
