<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Everyone has swiped on their resturants!</h1>

    <p>Please see below the results!</p>
  
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
  
  </body>
</html>