<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Everyone has finished their input!</h1>

    <p>Please see below!</p>
    localhost:8080/login<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
  
  </body>
</html>