<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone has invited you for your input!, <%= @user[:first_name] %></h1>
    <p>
    Please vote below!

    </p>

     <p> You're user name is:  <%= @user[:email] %> </p>

    localhost:8080/login<br>
    </p>
    <p>
    To login to the site, just follow this link: <%= link_to "Visit our website", @url %>.
    </p>
    <p>We look forward for your input!</p>
  </body>
</html>