@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Lobster&family=Quicksand&display=swap');

.date-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.date-h1 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 0px;
  color: #EC1562;
}

.date-selection {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}