.location-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location-h1 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 0px;
  color: #EC1562;
}