@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Lobster&family=Quicksand&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.register-h1 {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  color: #EC1562;
  font-weight: lighter;
}

.slogan {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  margin-top: -30px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  width: 300px;
  height: 35px;
  border-radius: 50px;
  background-color: #D9D9D9;
  font-family: 'Quicksand', sans-serif;
  border: none;
  padding-left: 20px;
}

input:focus {
  outline: none;
}

::placeholder {
  font-family: 'Quicksand', sans-serif;
  color: 8E8E8E;
  font-weight: bold;
}

.registration-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-button, .login-button {
  background-color: #EC1562;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  width: 150px;
  height: 35px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.register-button:hover, .login-button:hover {
  color: #EF1652;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px;
}

.register-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.member-prompt {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}