@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.card {
  background-color: #FFFFFF;
  border-radius: 25px;
  width: 450px;
  height: 600px;
  margin-top: 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px;
}

.card:hover {
  cursor: pointer;
}

.card-header {
  background-color: #EC1562;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.restaurant-name {
  color: #FFFFFF;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 24px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 3rem);
  overflow: hidden;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.details-visible {
  height: 50%;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px;
}

.details-container {
  padding: 1rem;
  height: 50%;
}

.restaurant-img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.hidden {
  display: none;
}

.detail {
  margin-top: 1.4rem;
  font-family: 'Inter';
  font-weight: bold;
  display: flex;
  align-items: center;
}