section {
  display: flex;
  justify-content: center;
  height: calc(800px + 3rem);
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: -250px;
}

.buttons {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
}