.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  height: calc(800px + 3rem);
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: -200px;
}

.times-button, .check-button {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 13rem;
}

.times-button {
  color: #EC1562;
}

.times-button:hover {
  color: #B8124E;
  cursor: pointer;
}

.check-button {
  color: #3AF87A;
}

.check-button:hover {
  color: #17B34C;
  cursor: pointer;
}

.contained-restaurants {
  height: calc(100vh);
  width: 95vw;
  overflow: hidden;
}

.rest-container {
  width: 450px;
  height: 600px;
  margin-top: 3rem;
  position: relative;
}

.stacked {
  position: absolute;
  top: 0;
  left: 0;
}

.swipe-direction {
  font-family: 'Quicksand', sans-serif;
}

